
<td><%=link_to "Agregar Autor", action: 'new' %></td>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Autor</th>
    <th>Nacionalidad</th>
    <th>Idioma</th>
    <th>Acciones</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @authors.each do |author| %> <tr>
    <td><%= author.name %></td>
    <td><%= author.nationality %></td>
    <td><%= author.language %></td>
    <td><%=link_to "Mostrar", action: 'show', id:author.id %></td>
    <td><%=link_to "Editar", action: 'edit', id:author.id %></td>
    <td><%=link_to "Borrar", {action: 'destroy', id:author.id}, method: :delete, data: {confirm: '¿Quieres borrar este autor?'}%></td>
  </tr>
  <% end %>
  </tbody>
</table>