<%= link_to 'Atras', :back %>

<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><%=@author.name%></div>
  <div class="card-body text-success">
    <h5 class="card-title">Nacionalidad: <%= @author.nationality %> </h5>
    <h5 class="card-title">Idioma: <%= @author.language %> </h5>
  </div>

</div>

<%= link_to 'Atras', :back %>