<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><%=@user.name%></div>
  <div class="card-body text-success">
    <h5 class="card-title">Edad: <%= @user.age %> </h5>
    <h5 class="card-title">Dirección: <%= @user.address %> </h5>
    <h5 class="card-title">Telefono: <%= @user.phone %> </h5>
    <h5 class="card-title">Observación: <%= @user.observation %> </h5>
  </div>
</div>