
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Usuario</th>
    <th>Edad</th>
    <th>Dirección</th>
    <th>Telefono</th>
    <th>Observaciones</th>
    <th>Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %> <tr>
    <td><%= user.name %></td>
    <td><%= user.age %></td>
    <td><%= user.address %></td>
    <td><%= user.phone %></td>
    <td><%= user.observation %></td>
    <td><%=link_to "Mostrar", action: 'show', id:user.id %></td>
  </tr>
  <% end %>
  </tbody>
</table>